@use '../../../../../scss/variables' as *;

.menu {
  height: 100vh;
  background-color: $primary-color;

  &__logo {
    width: 120px;
    margin: 0 auto;
    padding: 2rem 0;
  }

  &__list {
    a {
      width: 100%;
      display: block;
      padding: 1rem;
      color: #fff;
      font-size: 1.2rem;
      transition: all 0.2s ease-in;
      text-decoration: none;

      &:is(:hover, :active) {
        background-color: $hover-color;
      }

    }
    list-style: none;
    padding: 0;
    margin: 0;
  }
}